.header {
  text-align: center;
  font-size: 50px;
  color: #EEB868;
  text-shadow: 3px 5px 2px #EF767A;
}

.taskbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.taskbar-container input {
  width: 60%;
  margin-right: 1%;
  height: 40px;
  font-size: xx-large;
}

.taskbar-container button {
  height: 40px;
  width: 15%;
  font-size: x-large;
}

.tasks-container {
  padding-top: 2%;
  padding-bottom: 2%;
  display: flex;
  justify-content: space-around;
}

.tasks-container h3 {
  display: flex;
  justify-content: center;
  font-size: x-large;
  color: #456990;
}

.todo-container {
  background-color: #49BEAA;
  width: 45%;
  border-radius: 10px;
  padding-bottom: 2%;
}

.todo-container button {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;

  color: red;
  font-size: larger;
}

.done-container {
  background-color: #49BEAA;;
  width: 45%;
  border-radius: 10px;
  padding-bottom: 2%;
}

.done-container button {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;

  color: red;
  font-size: larger;
}

.task-container {
  display: flex;
  justify-content: space-between;
  padding-left: 1%;
  padding-right: 1%;
  
}

.task-label {
  font-family: 'Pangolin', cursive;
  font-size: larger;
}

@media only screen and (max-width: 360px) {
  .taskbar-container {
    flex-direction: column;
    align-items: center;
  }

  .taskbar-container input {
    width: 90%;
    height: 40px;
    font-size: xx-large;
    margin-right: 0;
    margin-bottom: 5px;
  }
  
  .taskbar-container button {
    height: 40px;
    width: 90%;
    font-size: x-large;
  }

  .tasks-container {
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .todo-container {
    width: 90%;
    margin-bottom: 8px;
  }

  .done-container {
    width: 90%;
  }
}